services:
  online-shop:
    mem_limit: 1048m
    build:
        context: .
        dockerfile: Dockerfile
#    image: highload-maga
#    ports:
#      - "8081:8080"
    restart: unless-stopped
    deploy:
      replicas: 1
    networks:
      - external_network

#    environment:
#      TEST_SERVICE_IP: "host.docker.internal"
#      POSTGRES_ADDRESS: ${POSTGRES_ADDRESS}
#      POSTGRES_PORT: ${POSTGRES_PORT}
#      PAYMENT_HOST: ${PAYMENT_HOST}
#      PAYMENT_PORT: ${PAYMENT_PORT}


  prometheus:
    image: quay.io/prometheus/prometheus:v2.32.0
    user: root
    volumes:
      - ./prometheus/data:/prometheus
      - ./prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    ports:
      - "9090:9090"
    networks:
      - external_network


  grafana:
    image: grafana/grafana
    user: root
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=quipy
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - external_network

  nginx:
    image: nginx:latest
    ports:
        - "8080:80"
    volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
        - online-shop
    networks:
        - external_network

  redis:
    image: redis:8.6-rc1-alpine
    ports:
      - "6379:6379"
    networks:
      - external_network

  postgres:
    image: postgres:14.9-alpine
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_CONTAINER_EXPOSED_PORT}:${POSTGRES_CONTAINER_INTERNAL_PORT} #todo
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c max_connections=200
    #command: postgres
    restart: unless-stopped
    networks:
      - external_network

  postgres-exporter:
    image: bitnami/postgres-exporter:latest
    volumes:
      - ./postgres_exporter.yml:/opt/bitnami/postgres-exporter/postgres_exporter.yml
    env_file:
      - ./.env
    environment:
      DATA_SOURCE_URI: postgres:${POSTGRES_CONTAINER_INTERNAL_PORT}/${POSTGRES_DB}?sslmode=disable
      DATA_SOURCE_USER: ${POSTGRES_USER}
      DATA_SOURCE_PASS: ${POSTGRES_PASSWORD}
    ports:
      - "9187:9187"
    depends_on:
      - postgres
    networks:
      - external_network


networks:
  external_network:
    driver: bridge